@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



.css-sghohy-MuiButtonBase-root-MuiButton-root {
  -webkit-text-decoration: none;
  text-decoration: none;
  background-color: #1565c0 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.show-category:hover>div {
  visibility: visible;
  opacity: 1;
}

.show-category:not(:hover)>div {
  visibility: hidden;
  opacity: 0;
}


.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.wrapper:has(.show-category:hover)+.bg-menus {
  background-color: rgb(222, 221, 221);
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0px;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  all: revert;
}

.search-bar {
  border-radius: 10px !important;
}

.search-bar fieldset {
  border: none !important;
}

.menu {
  width: 1000px;
  left: calc((100% - 1000px)/2);
  border-radius: 0 0 10px 10px;
  border: 4px solid black;
  border-top:4px;
  top: 100%;
}


.menu-text span {
  background-size: 0% 2px;
}

.menu-text>span:hover {
  background-image: linear-gradient(black, black);
  background-size: 1000% 2px;
  background-position: 0 100%;
  transition: background-size 1s;
  background-repeat: no-repeat;
  cursor: pointer;
}

.show-category:hover::before {
  position: absolute;
  content: '';
  width: calc(208% + 22rem);
  height: 4px;
  bottom: -4px;
  z-index: 0;
  background-color: black;
  left: -100%;
}

.show-category>span{
  font-weight: bold;
}

.menu-text>span{
  color: rgb(130, 130, 130);
}